.header {
    font-size: 24px;
}
.header-left {
    background-color: #e6edfb;
    padding: 20px;
    border-radius: 32px;
    border: 2px;
    top: 30px;
    left: 30px;
    position: fixed;
}
.header-right {
    background-color: #e6edfb;
    padding: 20px;
    border-radius: 32px;
    border: 2px;
    top: 30px;
    right: 30px;
    position: fixed;
}
.header a {
    text-decoration: none;
}
.footer {
    background-color: #e6edfb;
    text-align: center;
    padding: 10px 0px;
}
.footer ul {
    list-style: none;
}
.footer li {
    display: inline-block;
    padding: 0px 10px;
}
.footer a {
    text-decoration: none;
}
.logo-center {
    text-align: center;
}
.logo-center img {
    width: 600px;
    height: 200px;
    border-radius: 50px;
}
.content {
    max-width: 980px;
    margin: 0 auto;
}
.content-block {
    display: inline-block;
}
.content-item {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}
.content-item p {
    margin-top: 0px;
    padding-top 0px;
}
.cookie {
    padding: 10px 100px;
    background-color: #002882;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}
.cookie a {
    color: white;
}
.cookie-btn p {
    color: black;
}
.cookie-btn {
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 650px) {
    .logo-center {
        display: none;
    }
}


