main {
    margin:0 100px;
}
textarea {
    width: 405px; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
   }
label {
    display: inline-block;
    width: 200px;
}
