@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlackCondensed.eot');
    src: local('../fonts/Helvetica Neue Condensed Black'), local('../fonts/HelveticaNeueBlackCondensed'),
        url('../fonts/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff'),
        url('../fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
.header {
}
.header-left a {
    color: black;
}
.header-right a {
    color: black;
}
.header-left {
    background-color: #d4cbc0;
    padding: 15px;
    border-radius: 23px;
    top: 30px;
    left: 30px;
    position: fixed;
    color: black;
}
.header-right {
    background-color: #d4cbc0;
    padding: 15px;
    border-radius: 23px;
    top: 30px;
    right: 30px;
    position: fixed;
}
.header a {
    text-decoration: none;
}
.footer {
    background-color: #d4cbc0;
    text-align: center;
    padding: 10px 0px;
}
.footer ul {
    list-style: none;
}
.footer li {
    display: inline-block;
    padding: 0px 10px;
}
.footer a {
    text-decoration: none;
    color: black;
}
.logo-center {
    text-align: center;
    height: 200px;
}
.logo-center img {
    height: 100%;
}
.content {
    max-width: 980px;
    margin: 0 auto;
}
.content h2 {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}
.content-block {
    width: 320px;
    display: inline-block;
    margin-bottom: 30px;
}
.content-block p {
    padding: 0;
    margin: 0 0 10px 0;
}
.content-item {
    margin: 0 30px 0 0;
    display: flex;
    justify-content: space-between;

}
.content-item p {
    margin-top: 0px;
    padding-top: 0px;
    padding: 0px;
}
.content-item a {
    text-decoration: none;
    color: black;
}
.address {
    text-align: center;
    margin-bottom: 30px;
}
.cookie {
    padding: 10px 100px;
    background-color: #002882;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}
.cookie a {
    color: white;
}
.cookie-btn p {
    color: black;
}
.cookie-btn {
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 980px) {
    .content {
        max-width: 646px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 670px) {

    .content {
        max-width: 404px;
        margin: 0 auto;
    }
    .content-block {
        display: inline-block;
        width: 200px;
    }
    .header {
        height: 120px;
    }
}
@media screen and (max-width: 430px) {

    .content {
        max-width: 204px;
        margin: 0 auto;
    }
    .content-block {
        display: inline-block;
        width: 200px;
    }
    .header {
        height: 120px;
    }
}




