.header {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}
.header div {
    margin: 0px 10px;
}
.header a {
    text-decoration: none;
}
.footer {
    text-align: center;
    padding: 50px 0px;
}
.footer ul {
    list-style: none;
}
.footer li {
    display: inline-block;
    padding: 0px 10px;
}
.footer a {
    text-decoration: none;
}
.logo-center {
    text-align: center;
}
.logo-center img {
    width: 80%;
    height: 100px;
}
.content {
    text-align: center;
}
.content-block {
    display: inline-block;
}
.cookie {
    padding: 0px 100px;
    background-color: grey;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.cookie-btn {
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 500px) {
    .content {
        display: none;
    }
}


