<div th:fragment="header">
    <div align="center" style="background-color:#969696; padding:25px 0px; margin-bottom:25px;">
        <nav id="header-nav" align="center">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/home">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/products">Продукты</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Добавить товар</a>
        </nav>
    </div>
</div>