<div th:fragment="header">
    <div class="header">
        <div>
            <form>
                <input type="text"placeholder="Поиск по каталогу">
            </form>
        </div>
        <div><a href="#">Корзина</a></div>
        <div><a href="#">Личный кабинет</a></div>
<!--        <ul>-->
<!--            <li><a href="#">Политика конфиденциальности</a></li>-->
<!--            <li><a href="#">Договор оферты</a></li>-->
<!--        </ul>-->
<!--        <nav align="center">-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/products">Продукты</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Добавить товар</a>-->
<!--        </nav>-->
    </div>
</div>